<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Conditions" version="2.0.1" targetFramework="net452" />
  <package id="Dapper" version="1.50.0-beta9" targetFramework="net452" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net452" />
  <package id="eZet.EveLib" version="3.0.0.0" targetFramework="net452" />
  <package id="eZet.EveLib.Core" version="3.0.6.0" targetFramework="net452" />
  <package id="eZet.EveLib.Element43" version="3.0.0" targetFramework="net452" />
  <package id="eZet.EveLib.EveAuth" version="3.0.1.0" targetFramework="net452" />
  <package id="eZet.EveLib.EveCentral" version="3.0.0" targetFramework="net452" />
  <package id="eZet.EveLib.EveCrest" version="3.4.0.0" targetFramework="net452" />
  <package id="eZet.EveLib.EveMarketData" version="3.0.0" targetFramework="net452" />
  <package id="eZet.EveLib.EveWho" version="3.1.0.0" targetFramework="net452" />
  <package id="eZet.EveLib.EveXml" version="3.0.7.0" targetFramework="net452" />
  <package id="eZet.EveLib.StaticData" version="3.0.0" targetFramework="net452" />
  <package id="eZet.EveLib.ZKillboard" version="3.0.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net452" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net452" />
  <package id="reactiveui" version="6.5.0" targetFramework="net452" />
  <package id="reactiveui-core" version="6.5.0" targetFramework="net452" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net452" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net452" />
  <package id="Rx-XAML" version="2.2.5" targetFramework="net452" />
  <package id="Splat" version="1.6.2" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.101.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.101.0" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.101.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.101.0" targetFramework="net452" />
</packages>